.App {
  text-align: center;
}

.App-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-main {
  background-image: linear-gradient(180deg, rgb(135, 231, 255), rgb(249, 202, 255));
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.App-link {
  color: #61dafb;
}

.App-nav {
  background: transparent;
  overflow: hidden;
  position: absolute;
  z-index: 1000;
  top: 0;
  width: 100%;
}

.App-nav ul {
  list-style-type: none;
  margin: 0;
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.form-container {
  width: 100%;
  max-width: 500px; 
  padding-top: 100px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 60px; 
}

.logo {
  flex-grow: 0.8;
  text-align: center;
}

.logo img {
  max-height: 50px; 
}

.unauth-logo {
  flex-grow: 0.9;
  text-align: center;
}

.unauth-logo img {
  max-height: 50px; 
}

.App-nav li {
  float: left;
}

.login-signup {
  margin-left: auto; 
}

.App-nav a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.App-nav a:hover {
  background-color: #5c5a5a;
}

.contact-form-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-group textarea {
  height: 100px;
}

.submit-button {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #0056b3;
}

.file-drop-area {
  border: 2px dashed #ccc;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  margin: 5px;
  margin-bottom: 20px;
  cursor: pointer;
}

.file-message {
  margin-bottom: 20px;
  font-size: large;
}

.file-upload-btn {
  color: #007bff;
  background-color: transparent;
  cursor: pointer;
  padding: 10px 20px;
  border: 1px solid #007bff;
  border-radius: 5px;
}

.file-details {
  margin-top: 10px;
  color: #555;
}

.login-signup {
  padding-right: 5px;
}

.button-group {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.dashboard-button {
  background-color: #4CAF50; 
  color: white; 
  padding: 20px 40px; 
  border: none; 
  border-radius: 10px; 
  cursor: pointer; 
  font-size: 24px; 
}

.dashboard-button:hover {
  background-color: #db91f9; 
}

.delete-deployment-div {
  padding: 20px 40px; 
}


.upload-instructions h2 {
  color: #333;
  margin-bottom: 8px; 
}

.upload-instructions p {
  font-size: 20px; 
  color: #000000; 
  line-height: 1.5; 
  margin-bottom: 10px; 
}

.upload-instructions em {
  font-size: 16px; 
  color: #888; 
  font-style: italic; 
  display: block; 
  margin-top: 10px; 
}